@import "github";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

:root {
    --main-bg-color: #340000;
    --main-text1-color: white;
    --main-text2-color: black;
    background-color: var(--main-bg-color);
}

body {
    color: var(--main-text1-color);
    font-size: 1em;
    padding-bottom: 30px;
}

div#wrapper, div#background, div#foreground {
    height: 700px;
}

div#wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    perspective: 1px;
}

div#background, div#foreground {
    background-position-x: center;
    background-position-y: top;
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

div#background {
    background-image: url("header_wide.svg");
}

div#foreground {
    background-image: url("header_wide_0.svg");
}

div.middle {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 45%;
    min-width: 780px;
    box-sizing: border-box;
    & h1 {
        color: var(--main-text1-color);
        font-size: 50px;
        text-align: center;
        margin-top: -140px;
        padding-bottom: 10%;
    }
    & h2 {
        color: var(--main-text2-color);
        font-size: 40px;
        text-align: center;
        padding-top: 40px;
    }
    & h3 {
        color: var(--main-text1-color);
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
    }
    & p, & ol {
        padding-top: 16px;
    }
    & a {
        color: lightgoldenrodyellow;
    }
    & a:hover {
        color: lightblue;
    }
    & #download {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        & h2 {
            color: var(--main-text1-color);
            flex-basis: 100%;
        }

        & > a, & > div {
            box-sizing: border-box;
            flex-basis: 45%;
        }
        & > a {
            display: block;

            margin: 16px;
            padding: 16px 0;
            text-align: center;
            background-color: #701e13;
            border-radius: 10px;
            border: 1px solid #ddb991;

            // Anchor specific
            color: lightgoldenrodyellow;

            & > p {
                margin: 0;
                padding: 0;
            }
            & > img {
                width: 26px;
                height: 26px;
                padding: 8px 16px 8px 32px;
                float: left;
            }

            &:hover {
                margin-top: 8px;
                margin-bottom: 24px;
                background-color: #d2854a;
                // Anchor specific
                color: lightgoldenrodyellow;
                & > img {
                    width: 34px;
                    height: 34px;
                    padding: 4px 12px 4px 28px;
                }
            }
        }

        & > div#download-steps {
            background-color: transparent;
            text-align: left;
            flex-grow: 1;
            margin: 0 10%;
            border: 0;
        }
    }
}

@media only screen and (max-width: 800px) {
    div#wrapper, div#background, div#foreground {
        height: 600px;
    }
    div.middle {
        width: 80%;
        min-width: 350px;
        & h1 {
            font-size: 45px;
        }
        & h2 {
            font-size: 35px;
        }
        & #download a {
            flex-basis: 100%;
            min-width: 250px;
        }
    }
}
